<!DOCTYPE html>
<html>
  <head>
    <title>Log</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body><div id= "user_header">

  <% if current_user %>
    logged in as<%= current_user.email %>
    <%= link_to "log Out", logout_path %>

  <% else %>
    <%= link_to "sign up", signup_path %> or
    <%= link_to "log in", login_path %>
  <% end %>

  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
  
  </div>  
    <%= yield %>
  </body>
</html>



